body {
    height: 100%; /* Try removing this.. */
    background: #f0f0f0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,211,214,1) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,211,214,1) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,211,214,1) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,211,214,1) 100%); /* Standard syntax (must be last) */
    color: #000;
    background-attachment: fixed;
}

ul {
    list-style: none;
    padding: 0px;
}

.container {
    border: solid 1px #999;
    box-shadow: 4px 4px 5px grey;
}

span.redStar {
    color: red;
}

h2 {
    margin: 0px;
}

.form-group {
    margin-bottom: 0px;
}

.btn {
    height: 28px;
    font-size: 12px;
}

label {
    font-size: 11px !important;
    font-weight: normal;
    display: block;
}

.form-control {
    height: 28px;
    padding: 6px 6px;
    font-size: 12px;
}

.input-group-addon {
    padding: 5px 10px;
    background-color: #057FC2;
    border: 1px solid #025A93;
    font-size: 12px;
    color: #fff;
    border-radius: 17px;
}

.width20 {
    width: 20% !important;
}

.width80 {
    width: 80% !important;
}

.clear {
    clear: both;
}

/*--Tree Menus---*/
ul.k-treeview-lines li.k-item span.k-in {
    background: url("../images/folder_icon.png") 0px 10px no-repeat;
    padding: 5px 5px 5px 20px;
}

    ul.k-treeview-lines li.k-item span.k-in.k-state-hover {
        text-decoration: underline;
        color: #0978C0;
        background: url("../images/folder_icon.png") 0px 10px no-repeat;
        padding: 5px 5px 5px 20px;
    }

    ul.k-treeview-lines li.k-item span.k-in.k-state-selected {
        color: #057FC2;
        background: url("../images/folder_icon.png") 0px 10px no-repeat;
        padding: 5px 5px 5px 20px;
    }
/*--End Tree Menus---*/


/*----Login Page------*/
.loginPage {
    width: 45%;
    padding: 50px 50px 35px 50px;
    height: auto !important;
    margin-top: 10%;
    background: #fff;
    border-radius: 20px;
    border-color: #057FC2;
    border-width: 10px;
    border-style: outset;
}

.logoImg {
    margin-right: 20px;
}

span.userField, span.passwordField {
    position: relative;
    top: 30px;
    left: 12px;
    color: #057FC2;
}

.welcomeText {
    margin-left: 112px;
    margin-top: 11px;
}

.dxcIntlgnce {
    display: block;
    font-size: 130%;
    text-shadow: 1px 1px #fff;
}

.row {
    margin-bottom: 15px;
}

label {
    font-size: 12px;
    text-shadow: 1px 1px #fff;
}



.navbar-nav .glyphicon {
    padding: 0px 7px 0px 0px;
}

label.userLogin {
    font-size: 13px !important;
}

.loginPage input[type="text"], .loginPage input[type="password"] {
    border: solid 8px #ccc;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    width: 100%;
    font-size: 12px;
}

.font12 {
    font-size: 12px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: inherit;
    opacity: 0.5 !important;
}

/*----End Login Page------*/


/*----Header Menu------*/

/*.headerMenu {
    background: #FFF;
    border: 1px solid #057FC2;
    margin: 10px 0px 15px 0px;
    border-radius: 45px;
    box-shadow: -4px 3px 5px #999;
    max-height: 37px;
}*/

.navbar-nav {
    font-size: 107%;
    margin: 0px;
    padding-top: 4px;
}

.navbar {
    min-height: 43px;
    background: #FFF;
    border: solid 1px #057FC2;
    margin: 10px 0px 0px 60px;
    border-radius: 45px;
    box-shadow: -4px 3px 5px #999;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #0978C0;
    background-color: transparent;
}

.navbar-nav .glyphicon {
    float: left;
    display: block;
    position: relative;
    top: 0px;
}

.navbar-nav > li > a {
    padding: 0px 0px;
    width: auto;
    float: left;
    position: relative;
    top: -1px;
    color: #0978C0;
}

    .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
        text-decoration: underline;
    }

.navbar-nav > li.active {
    color: #0978C0;
}

.nav > li {
    padding: 9px 0px 0px 0px;
    margin-right: 35px;
}

.navbar-header button span.glyphicon {
    font-size: 12px;
    padding: 0px;
}

.navbar-toggle {
    padding: 4px 7px;
}
/*----End Header Menu------*/

/*----Dashboard Page------*/

.pageHeader h1 {
    display: inline;
    font-weight: inherit;
    font-size: 26px;
    padding-left: 15px;
    float: left;
    margin: 0px;
}

div.pageTitle {
    margin: 0px 0px 0px 60px;
    border-radius: 5px;
    color: #fff;
    padding-top: 6px;
    background: #057FC2;
}

ul.logoutBox {
    float: right;
    min-width: 300px;
    border: solid 1px #ccc;
    background: #fff;
    border-radius: 32px;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.emailPane {
    float: right;
    width: auto;
}

ul.emailIcons {
    float: right;
    margin: 0px;
    padding-top: 8px;
}

    ul.emailIcons li a span.glyphicon {
        color: #fff;
    }

    ul.emailIcons li {
        width: auto;
        height: 15px;
        margin: 0px 20px 0px 0px;
        display: inline;
        border-right: solid 1px #fff;
        padding-right: 10px;
    }

ul.logoutBox li {
    display: inline-block;
    margin-right: 10px;
    border-right: solid 1px #ccc;
    padding-right: 10px;
    line-height: 14px;
}

    ul.logoutBox li:last-child {
        border-right: solid 0px #ccc;
        padding-right: 0px;
        margin-right: 0px;
    }

    ul.logoutBox li.blueText {
        min-width: 127px !important;
    }

    ul.logoutBox li a {
        color: #777;
    }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.blueText {
    color: #057EC1;
}

.whiteText {
    color: #fff;
}

.btnPane .whiteText span {
    background: #025A93 !important;
}

.btnPane .blueText.glyphicon {
    font-size: 20px;
    position: relative;
    top: 5px;
}

.settingicon {
    width: 40px;
    height: 40px;
    background: #057FC2;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

    .settingicon span {
        position: relative;
        top: 6px;
        left: 8px;
        font-size: 25px;
        color: #fff;
    }

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    background-color: transparent;
}

.toolPane {
    float: left;
    position: fixed;
}

    .toolPane ul {
        list-style: none;
        padding: 0px 4px;
        margin: 0px;
        width: 36px;
        border: solid 1px #ccc;
        border-radius: 26px;
        background: #fff;
    }

        .toolPane ul.pageTools li, ul.adminTools li {
            width: 25px;
            height: 25px;
            background: #767676;
            -moz-border-radius: 70px;
            -webkit-border-radius: 70px;
            border-radius: 70px;
            font-size: 14px;
            margin: 10px 0px;
            padding: 3px 5px;
        }

ul.adminTools {
    margin-top: 15px;
    background: #fff;
}

    ul.adminTools li {
        background: #057FC2;
    }

.toolPane ul li a {
    color: #fff;
}

    .toolPane ul li a:hover, .toolPane ul li a:focus {
        text-decoration: none;
        color: #ddd;
    }

.rightPane {
    margin-left: 60px;
    min-height: 515px;
}

.btnPane {
    background: #DADADA;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
}

    .btnPane .btn {
        border-radius: 15px;
        margin-right: 20px;
    }

        .btnPane .btn span {
            margin-left: 5px;
            width: 15px;
            height: 15px;
            border-radius: 13px;
            background: #B2AEAF;
            padding: 2px 0px 0px 0px;
            font-size: 10px;
        }

.graybtn {
    background: #72716F;
    padding: 2px 3px 2px 10px;
    border-color: #555150;
    box-shadow: 2px 1px 2px grey;
}

    .graybtn:hover, .graybtn:active:hover, .graybtn:active:focus, .graybtn:focus {
        color: #fff;
        background-color: #898887;
        border-color: #72716F;
    }

.bluebtn {
    padding: 2px 10px 2px 10px;
}


/*----End Dashboard Page------*/

/*----Buttons Style------*/

ul.iconLinks li a {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    padding-top: 18px;
    font-size: 16px;
    color: #72716F;
}

span.iconText {
    font-size: 12px;
    line-height: 18px;
}

ul.iconLinks li a:hover {
    text-decoration: none;
    color: #0978C0;
    background: #f5f5f5;
}

ul.iconLinks li {
    float: left;
    margin: 5px 50px 50px 8px;
}

    ul.iconLinks li a:before {
        content: "";
        display: block;
        background: #fff;
        border: 2px solid #ddd;
        position: absolute;
        top: -8px;
        left: -8px;
        bottom: -8px;
        right: -8px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #fff;
    }

    ul.iconLinks li a span.glyphicon {
        display: block;
    }
/*---- End Button Style-------*/

/* --Modal Window------*/

.modal .modal-header button.close {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    padding: 2px 0px 0px 0px;
    opacity: 1;
    line-height: 0;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    font-size: 19px;
}

h4.modal-title {
    display: inline;
    font-weight: inherit;
    font-size: 20px;
    padding-left: 15px;
    float: left;
    margin: 0px;
}

.modal-header .settingicon {
    width: 30px;
    height: 30px;
    background: #057FC2;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    position: relative;
    top: -3px;
}

    .modal-header .settingicon span {
        position: relative;
        top: 22%;
        left: 18%;
        font-size: 18px;
        color: #E0E4E7;
    }

.modal-body h2 {
    background: #eee;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    color: #057EC1;
}

.modal-body {
    padding: 15px 0px !important;
}
/*----End Modal Window---*/

.threeCols .menuColumn {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    min-height: 385px;
}

.gnrlInfoBox {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.gnrlInfoBoxHead {
    background: #057FC2;
    color: #fff;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
}

    .gnrlInfoBoxHead span.crossX {
        font-size: 16px;
        display: block;
        float: left;
    }

    .gnrlInfoBoxHead h5 {
        position: relative;
        top: 1px;
        padding: 0px;
        font-size: 17px;
        margin-left: 20px;
        font-weight: bold;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

.gnrlInfoBox p.infoContent {
    margin: 10px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

div.supportTicket {
    text-align: center;
    margin-bottom: 10px;
}

.column-left {
    padding-left: 0px;
}

.column-right {
    padding-left: 0px;
    padding-right: 0px;
}

div.fileZone {
    border: 2px dashed #057FC2;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 13pt bold;
    color: #057FC2;
    height: 10px;
    margin: 10px;
}

span.anoucement {
    display: block;
    float: left;
}

.margin0 {
    margin: 0px;
}

/* kendo override*/

.k-grid td, .k-grid-header th.k-header {
    padding: 8px !important;
    font-size: 12px;
}

.k-grid-header th.k-header {
    font-weight: bold;
}

.k-grid-header th.k-header>.k-link {
    color: #000;
}
.form-group .k-widget.k-dropdown.k-header{
    height: 28px;
    font-size: 12px;
    display: block;
    width: 100%;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
    .form-group .k-widget.k-dropdown.k-header .k-dropdown-wrap {
        background-color: #fff !important;
        border-width: 0px !important;
    }
    .form-group .k-widget.k-dropdown.k-header
    {
        padding:0 !important;
    }
.k-dropdown-wrap .k-input{
    height:22px !important
}
/* end kendo override*/

