<!DOCTYPE html>
<html ng-app="NextGenCMS">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="~/images/favicon.ico">
    @Scripts.Render("~/Scripts/jquery/js", "~/Scripts/angular/js", "~/Scripts/bootstrap/js", "~/Scripts/kendo/js", "~/Scripts/controller/js", "~/Scripts/factory/js", "~/Scripts/constants/js", "~/Scripts/httpfactory/js", "~/Scripts/underscore/js", "~/Scripts/Directive/js")
    @Styles.Render("~/css/bootstrap/css", "~/css/css", "~/css/kendo/css")

</head>
<body>
    <div class="loader"><img src="~/images/loader.gif" /></div>
    <div class="container">
        <div ui-view="menu"></div>
        <div ui-view="header"></div>
        <div ui-view="toolpane"></div>
        <div class="rightPane">
            <div ui-view="content"></div>
        </div>
        @RenderBody()

    </div>
</body>
</html>
