@{
    Layout = null;
}

<div class="rightPane">
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Administration</a></li>
            <li class="active">Account Settings</li>
            <ul>
    </div>
    <div class="row">
        <div class="btnPane">
            <button type="button" class="btn btn-primary btn-sm graybtn">NEW <span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-primary btn-sm graybtn">NEW CATEGORY <span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-primary btn-sm bluebtn">PUBLISH</button>
        </div>
    </div>
    <div class="row">
        <ul class="iconLinks">
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon  glyphicon-file"></span><span class="iconText">History</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">New Page</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-cog"></span><span class="iconText">Settings</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-user"></span><span class="iconText">Users</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-folder-open"></span><span class="iconText">Files & Backup</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-comment"></span><span class="iconText">Messages</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-duplicate"></span><span class="iconText">Modules</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Plugins</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Browsers</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Statistics</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Schedules</span></a></div>
            </li>
            <li>
                <div class="iconLinkBG"><a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Databases</span></a></div>
            </li>
        </ul>

    </div>
</div>