@{
    Layout = null;
}

<div class="row">
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
    </ul>
</div>
<div class="row">
    <div class="btnPane">
        <span class="blueText glyphicon glyphicon-info-sign"></span><span class="blueText infoText"> Hi Admin, What would you like to do today?</span>
    </div>
</div>
<div class="row">
    <ul class="iconLinks">
        <li>
            <a href="#"><span class="glyphicon  glyphicon-info-sign"></span><span class="iconText">About Us</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Latest News</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-cog"></span><span class="iconText">Events</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-user"></span><span class="iconText">Users</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-folder-open"></span><span class="iconText">Special Offer</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-comment"></span><span class="iconText">Messages</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-duplicate"></span><span class="iconText">Modules</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Plugins</span></a>
        </li>
        <li>
            <a href="#"><span class="glyphicon glyphicon-file"></span><span class="iconText">Browsers</span></a>
        </li>
    </ul>

</div>