@{
    Layout = null;
}

<div class="row">
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
    </ul>
</div>
<div class="row">
    <div class="btnPane">
        <span class="blueText glyphicon glyphicon-info-sign"></span><span class="blueText infoText"> Hi Admin, What would you like to do today?</span>
    </div>
</div>
<div class="row">
    <div class="column col-xs-12 col-md-9">
        <ul class="iconLinks">
            <li>
                <a href="#"><span class="glyphicon  glyphicon-info-sign"></span><span class="iconText">About Us</span></a>
            </li>
            <li>
                <a ui-sref=".Folder"><span class="glyphicon glyphicon-file"></span><span class="iconText">Documnet Library</span></a>
            </li>
            <li>
                <a ui-sref=".Admin"><span class="glyphicon glyphicon-user"></span><span class="iconText">Admin</span></a>
            </li>
            <li>
                <a ui-sref=".Search"><span class="glyphicon glyphicon-search"></span><span class="iconText">Search</span></a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="iconText">Email</span></a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-th-list"></span><span class="iconText">WorkList</span></a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-cog"></span><span class="iconText">Feature 1</span></a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-cog"></span><span class="iconText">Feature 2</span></a>
            </li>
        </ul>
        </div>
    <div class="column col-xs-12 col-md-3">
        <div class="row">
            <div class="gnrlInfoBox">
                <div class="gnrlInfoBoxHead"><span class="crossX">X</span><h5>24/7 Support Ticket</h5></div>
                <p class="infoContent">Give us a call 24 hours a day, 7 </p>
                <p class="infoContent">24/7 Technical Support (0091-000-6762216)</p>
                <div class="supportTicket">
                    <button type="button" class="btn btn-primary btn-sm bluebtn whiteText">Create Support Ticket</button>
                </div>
            </div>
        </div>
        </div>
    </div>
