
@{
    Layout = null;
}





<div class="row pageHeader">
    <div class="settingicon pull-left"><span class="glyphicon glyphicon-cog"></span></div>
    <div class="pageTitle"><h1>Welcome</h1></div>
</div>