
@{
    Layout = null;
}
<div class="row pageHeader">
    <div class="settingicon pull-left"><span class="glyphicon glyphicon-cog"></span></div>
    <div class="pageTitle clearfix">
        <h1>Dashboard</h1>
        <ul class="logoutBox">
            <li class="blueText">Hello, Swanesh</li>
            <li><span class="glyphicon glyphicon-user"></span><a href="#">Profile</a></li>
            <li><span class="glyphicon glyphicon-lock"></span><a href="#">Logout</a></li>
        </ul>
    </div>
</div>