@{
    Layout = null;
}
<div class="row headerMenu">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <!--a class="navbar-brand" href="#">Brand</a-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><span class="glyphicon glyphicon-cloud"></span><a ui-sref=".">Dashboard</a></li>
                <li><span class="glyphicon glyphicon-th-list"></span><a href>Work List</a></li>
                <li><span class="glyphicon glyphicon-file"></span><a ui-sref=".Folder">Document Library</a></li>
                <li><span class="glyphicon glyphicon-user"></span><a ui-sref=".Admin">Administration</a></li>
                <li><span class="glyphicon glyphicon-search"></span><a ui-sref=".Search">Search</a></li>
            </ul>
        </div>
    </nav>
</div>
@*glyphicon glyphicon-file*@