
@{
    Layout = null;
}
<div class="toolPane">
    <ul class="pageTools">
        <li><a href="#" title="Dashboard"><span class="glyphicon glyphicon-cloud"></span></a></li>
        <li><a href="#" title="CMS"><span class="glyphicon glyphicon-file"></span></a></li>
        <li><a href="#" title="Content"><span class="glyphicon glyphicon-th-list"></span></a></li>
        <li><a href="#" title="Administration"><span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="#" title="Analytics"><span class="glyphicon glyphicon-signal"></span></a></li>
    </ul>
    <ul class="adminTools">
        <li><a href="#" title="User"><span class="glyphicon glyphicon-user"></span></a></li>
        <li><a href="#" title="Settings"><span class="glyphicon glyphicon-cog"></span></a></li>

    </ul>
</div>