@{
    Layout = null;
}
<div class="toolPane">
    <ul class="pageTools">
        <li><a ui-sref="." title="Dashboard"><span class="glyphicon glyphicon-cloud"></span></a></li>
        <li><a ui-sref=".MyWorkflow" title="Work List"><span class="glyphicon glyphicon-th-list"></span></a></li>
        <li><a ui-sref=".Folder" title="Documnent Library"><span class="glyphicon glyphicon-file"></span></a></li>
        <li><a ui-sref=".Admin" title="Admin"><span class="glyphicon glyphicon-user"></span></a></li>
        <li><a ui-sref=".Search" title="Search"><span class="glyphicon glyphicon-search"></span></a></li>
    </ul>
    <ul class="adminTools">
        <li><a ui-sref=".Reports" title="Reports"><span class="glyphicon glyphicon-list-alt"></span></a></li>
        <li><a href="#" title="Settings"><span class="glyphicon glyphicon-envelope"></span></a></li>
    </ul>
</div>