@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container loginPage">
    <div class="row">
        <div class="col-xs-12">
            <div class="logoImg pull-left">
                <img src="~/images/DXC_logo.png" alt="DXC.tecnology logo" />
            </div>
            <div class="welcomeText">
                Welcome to <span class="dxcIntlgnce">NextGen CMS</span>
            </div>
        </div>
    </div>
    <form action=@Url.Action("Authenticate", "Security") method="post">
        <div class="row margin0">
            <div class="col-xs-12"><label class="userLogin" for="username"><span class="glyphicon glyphicon-user"></span>User Login</label></div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @*<span class="userField glyphicon glyphicon-user"></span>*@
                <input type="text" id="username" name="userName" class="userLoginName" autofocus placeholder="User Name" />
            </div>
          
            <div class="col-xs-4">
                @*<span class="passwordField glyphicon glyphicon-eye-close"></span>*@
                <input type="password" name="Password" id="password" placeholder="Password" />
            </div>

            <div class="col-xs-4">
                @*<span class="passwordField glyphicon glyphicon-eye-close"></span>*@
                <select class="tenant" name="tenant">
                    <option value="">Select Tenant</option>
                    <option value="tenant1">
                        tenant1
                    </option>
                    <option value="tenant2.com">tenant2.com</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 pull-left font12">Did you forget your password?</div>
            <div class="col-xs-3 text-right pull-right"><button type="submit" class="btn btn-primary btn-sm">LOGIN</button></div>
        </div>
    </form>
</div>
