@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" ng-click="closePopup();"><span aria-hidden="true">&times;</span></button>
    <div class="settingicon pull-left"><span class="glyphicon glyphicon-user"></span></div><h4 class="modal-title" id="myModalLabel">Add User</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <h2>User Information</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="firstName">First Name<span class="redStar">*</span></label>
                <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name" autofocus />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="lastName">Last Name<span class="redStar">*</span></label>
                <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address<span class="redStar">*</span></label>
                <input type="email" class="form-control" ng-model="user.email" placeholder="Email" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>About User</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="userName">User Name<span class="redStar">*</span></label>
                <input type="text" class="form-control" ng-model="user.userName" placeholder="User Name" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="password">Password<span class="redStar">*</span></label>
                <input type="password" class="form-control"  ng-model="user.password" placeholder="Password" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
                <label for="passwordConfirm">Confirm Password<span class="redStar">*</span></label>
                <input type="password" class="form-control" ng-model="user.confirmPassword" placeholder="Confirm Password" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="search">Groups</label>@*<span class="redStar">*</span>*@
            <select id="groups"
                    name="groups"
                    kendo-multi-select="groupsselect"
                    k-placeholder="'(Select groups)'"
                    k-data-text-field="'displayName'"
                    k-data-value-field="'fullName'"
                    k-data-source="groupDataSource"
                    k-ng-model="user.groupList"></select>
        </div>
    </div>
    <!--div class="row">
            <div class="col-xs-4">
                    <label for="quota" class="clearfix">Quota</label>
                    <input type="text" class="form-control pull-left width80" id="quota" placeholder="Quota"/>
                    <select class="form-control width20">
                      <option>KB</option>
                      <option>MB</option>
                      <option>GB</option>
                    </select>


                </div>
    </div-->

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closePopup();">Close</button>
    <button type="button" class="btn btn-primary" ng-click="createUser();">Save</button>
</div>