@{
    Layout = null;
}


<div class="modal-header">
    <button type="button" class="close" ng-click="closePopup();"><span aria-hidden="true">&times;</span></button>
    <div class="settingicon pull-left"><span class="glyphicon glyphicon-cog"></span></div><h4 class="modal-title" id="modalManagePermissions">Manage Permissions: {{folder}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 pull-right">
            <button type="button" class="btn btn-default" ng-show="!Permissions.isInherited" ng-click="inheritPermission(true);"><span class="glyphicon glyphicon-minus"></span> Inherit Permission</button>
            <button type="button" class="btn btn-default" ng-show="Permissions.isInherited" ng-click="inheritPermission(false);">
                <span class="glyphicon glyphicon-ok"></span> Inherit Permission
            </button>
            <button type="button" class="btn btn-default" ng-click="addUserGroups();">
                Add User/Group
            </button>
        </div>
    </div>
    <div class="row" ng-if="Permissions.isInherited">
        <div class="col-xs-12">
            <h2>Inherited Permissions</h2>
        </div>
    </div>
    <div class="row" ng-if="Permissions.isInherited">
        <div class="col-xs-12">
            <div id="permissionGrid"
                 kendo-grid
                 k-options="permissionGridOptions"
                 k-data-source="permissionDataSource">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Locally Set Permissions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="localPermissionGrid"
                 kendo-grid
                 k-options="localPermissionGridOptions"
                 k-data-source="localPermissionDataSource">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="savePermissions();">Save</button>
        <button type="button" class="btn btn-default" ng-click="closePopup();">Cancel</button>
    </div>
</div>
