@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" ng-click="closePopup();"><span aria-hidden="true">&times;</span></button>
    <div class="settingicon pull-left"><span class="glyphicon glyphicon-cog"></span></div><h4 class="modal-title" id="modalManagePermissions">Manage Permissions: {{folder}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                Update Permissions
                <span class="pull-right" style="padding-right:10px;">
                    <a href ng-click="addUserGroup();">
                        <span class="glyphicon glyphicon-plus-sign" ng-show="!isWindowOpen"></span>
                        <span class="glyphicon glyphicon-minus-sign" ng-show="isWindowOpen"></span> Add User/Group
                    </a>
                </span>
            </h2>
        </div>
    </div>
    <div id="search" ng-show="showSearchGrid">
        <div class="row searchTop">
            <div class="col-xs-12 padd0">
                <div class="input-group searchSmlWin">
                    <input type="text" class="form-control" ng-model="search.text" placeholder="Search User/Group" />
                    <div class="input-group-addon" ng-click="searchUser();" style="cursor:pointer;"><span class="glyphicon glyphicon-search" /></div>
                </div>
                @*<button type="button" class="close sizeBtn" ng-click="closeSearchWindow();"><span>×</span></button>*@
            </div>

        </div>
        <div class="row searchlistView gridScrollDiv">
            <div class="col-xs-12 padd0">
                <div class="searchSmlWinMsg" ng-show="showStartSearch">Enter a search term to start</div>
                <span class="searchSmlWinMsg redStar" ng-show="errorSearch">Please enter atleast one character</span>
                <div class="searchSmlWinMsg" ng-show="noRecordExist">No results</div>
                <div kendo-list-view k-data-source="source">
                    <div k-template>
                        <ul class="searchList">
                            <li class="clearfix" style="font-size:11px;">
                                <div class="col-sm-10 padd0"><span>{{dataItem.displayName}}</span> (<span>{{dataItem.authorityType}}</span>)</div>
                                <div class="col-sm-2 padd0">
                                    <a id="add" href ng-click="addItem(dataItem);"><span class="glyphicon glyphicon-plus listviewGlyph"></span> Add</a>
                                    @*<a id="remove" style="display:none;" href ng-click="removeItem(dataItem);"><span class="glyphicon glyphicon-remove listviewGlyph"></span>Remove</a>*@
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="localPermissionGrid"
                 kendo-grid
                 k-options="localPermissionGridOptions"
                 k-data-source="localPermissionDataSource"
                 class="gridScrollDiv scrollHeight">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                Default Permissions
                <span class="pull-right" style="padding-right:10px;">
                    <a href ng-show="!Permissions.isInherited" ng-click="inheritPermission(true);"><span class="glyphicon glyphicon-minus-sign"></span> Turn on Default Permissions</a>
                    <a href ng-show="Permissions.isInherited" ng-click="inheritPermission(false);">
                        <span class="glyphicon glyphicon-ok-sign"></span> Turn off Default Permissions
                    </a>
                </span>
            </h2>
        </div>
    </div>
    <div id="roles" ng-show="showRoleInfo">
        <div class="">
            <p>
                <b>About Roles</b>
                <button type="button" class="close sizeBtn" ng-click="closeRoleWindow();"><span>×</span></button>
            </p>
            <p>
                <b>Collaborator</b>
                <span class="font10">has full rights to the site content that they own; they have rights to edit but not delete content created by other site members.</span>
            </p>
            <p>
                <b>Consumer</b>
                <span class="font10">has view-only rights in a site; they cannot create their own content.</span>
            </p>
            <p>
                <b>Manager</b>
                <span class="font10">has full rights to all site content - what they have created themselves and what other site members have created.</span>
            </p>
            <p>
                <b>Contributor</b>
                <span class="font10">has full rights to the site content that they own; they cannot edit or delete content created by other site members.</span>
            </p>
        </div>
    </div>
    <div class="row" ng-if="Permissions.isInherited">
        <div class="col-xs-12">
            <div id="permissionGrid"
                 kendo-grid
                 k-options="permissionGridOptions"
                 k-data-source="permissionDataSource"
                 class="gridScrollDiv scrollHeight">
            </div>
        </div>
    </div>
    <div class="row" ng-show="!Permissions.isInherited">
        <div class="col-xs-12">
            <div style="text-align: center;padding:5px;font-size:14px;">No default permissions set</div>
        </div>
    </div>
</div>
@*<button type="button" class="btn btn-default" ng-click="addUserGroups();">
    </button>*@
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="savePermissions();">Save</button>
    <button type="button" class="btn btn-default" ng-click="closePopup();">Cancel</button>
</div>
