@{
    Layout = null;
}
<div class="row">
    <ul class="breadcrumb">
        <li><a ui-sref=".">Dashboard</a></li>

        <li class="active">Files</li>
    </ul>
</div>

<div class="row">
    <div class="btnPane">
        <button type="button" class="btn btn-primary btn-sm bluebtn whiteText" ng-click="vm.AddFile();" ng-disabled="vm.TreeSelect">Upload<span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary btn-sm bluebtn whiteText" ng-click="vm.DeleteFolder();" ng-disabled="vm.TreeSelect">Delete Folder<span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-primary btn-sm bluebtn whiteText" ng-click="vm.AddFolder();">New Folder<span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary btn-sm bluebtn whiteText" ng-click="vm.AddSubFolder();" ng-disabled="vm.TreeSelect">Sub Folder<span class="glyphicon glyphicon-plus"></span></button>
    </div>
</div>

<div class="threeCols">
    <div class="menuColumn col-xs-12 col-md-3">

        <div kendo-tree-view="vm.tree" id="treeview"
             k-data-source="vm.treeData"
             k-on-change="vm.selectedItem(dataItem)">
            <span k-template>
                {{dataItem.name}}
            </span>
        </div>
    </div>

    <div class="col-xs-12 col-md-9 paddRight">
        <div class="mainContent">
            <div class="row">
                <div id="userGrid"
                     kendo-grid
                     k-options="vm.FileGridOptions"
                     k-data-source="vm.FileGridDataSource">
                </div>
            </div>
            <div class="row">

                <div class="fileZone" file-dropzone file="rawFile" upload="upload();" file-name="rawFileName">
                    Drag & Drop file to upload ...
                </div>
            </div>
        </div>
    </div>
</div>

 <ul kendo-context-menu k-filter="'#userGrid tbody tr[aria-selected=true]'"
        k-on-open="vm.open(kendoEvent);"
        k-orientation="vm.orientation"
        k-on-select="vm.onSelect(kendoEvent);">
        <li><span class="glyphicon glyphicon-download-alt"> </span> Download</li>
        <li><span class="glyphicon glyphicon-edit"> </span>Edit in office</li>
        <li><span class="glyphicon glyphicon-link"> </span>Link File</li>
        <li><span class="glyphicon glyphicon-move"> </span> Move To...</li>
        <li><span class="glyphicon glyphicon-trash"> </span> Delete</li>
        <li><span class="glyphicon glyphicon-floppy-open"></span> Check-Out</li>
       <li><span class="glyphicon glyphicon-floppy-remove"> </span> Cancel Check-Out</li>
        <li><span class="glyphicon glyphicon-floppy-save"> </span> Check-In</li>
        <li><span class="glyphicon glyphicon-transfer"> </span> Start Workflow</li>
        <li><span class="glyphicon glyphicon-cog"> </span> Manage Permissions</li>
        <li><span class="glyphicon glyphicon-list-alt"> </span> Properties</li>
        <li><span class="glyphicon glyphicon-envelope"> </span> Email</li>
      
    </ul>
