@{
    Layout = null;
}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Administration</a></li>
        <li class="active">Files</li>
    </ul>
</div>
<div class="row">
    <div class="btnPane">
        <button type="button" class="btn btn-primary btn-sm graybtn">Create Folder <span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary btn-sm graybtn">Create Sub-Folder <span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary btn-sm graybtn">Delete <span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-primary btn-sm graybtn">Upload File<span class="glyphicon glyphicon-upload"></button>
    </div>
</div>
<div class="threeCols clearfix">
    <div class="innerCol col-xs-12 col-md-3">
        <div kendo-tree-view="vm.tree" id="treeview"
             k-data-source="vm.treeData"
             k-on-change="vm.selectedItem(dataItem)">
            <span k-template class="folderIcon">
                {{dataItem.title}}
            </span>
        </div>
    </div>

    <div class="innerCol col-xs-12 col-md-6">
        Center Container
    </div>
    <div class="innerCol col-xs-12 col-md-3">
        right Container
    </div>
</div>







