@{
    Layout = null;
}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>

        <li class="active">Files</li>
    </ul>
</div>

<div class="row">
    <div class="btnPane">
        <button type="button" class="btn btn-primary btn-sm bluebtn whiteText">Upload<span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary btn-sm graybtn" ng-click="vm.Download();">Download<span class="glyphicon glyphicon glyphicon-download"></span></button>
        <button type="button" class="btn btn-primary btn-sm graybtn">Delete <span class="glyphicon glyphicon-trash"></span></button>   
        <button type="button" class="btn btn-primary btn-sm graybtn" ng-click="vm.AddFolder();">New Folder<span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary btn-sm graybtn" ng-click="vm.AddSubFolder();">Sub Folder<span class="glyphicon glyphicon-arrow-up"></span></button>
    </div>
</div>

<div class="threeCols">
    <div class="menuColumn col-xs-12 col-md-3">

        <div kendo-tree-view="vm.tree" id="treeview"
             k-data-source="vm.treeData"
             k-on-change="vm.selectedItem(dataItem)">
            <span k-template >
                {{dataItem.title}}
            </span>
        </div>
    </div>

    <div class="column col-xs-12 col-md-6">
        <div id="userGrid"
             kendo-grid
             k-options="vm.FileGridOptions"
             k-data-source="vm.FileGridDataSource" >
        </div>
    </div>

    <div class="column col-xs-12 col-md-3">


        <div class="gnrlInfoBox">
            <div class="gnrlInfoBoxHead"><span class="crossX">X</span><h5>24/7 Support Ticket</h5></div>
            <p class="infoContent">Give us a call 24 hours a day, 7 days a week. Our highly trained, courteous support staff is waiting to take your call.</p>
            <p class="infoContent">24/7 Technical Support (0091-000-6762216)</p>
            <div class="supportTicket">
                <button type="button" class="btn btn-primary btn-sm bluebtn whiteText">Create Support Ticket</button>
            </div>
        </div>





    </div>
</div>







