
@{
    Layout = null;
}

<div class="row">
    <ul class="breadcrumb">
        <li><a ui-sref=".">Administration</a></li>
        <li>Task List</li>
    </ul>
</div>
<div kendo-grid id="wf_grd"
     k-options="vm.wfGridOption"
     k-data-source="vm.wfGridDataSource" ng-dblclick="vm.OpenDetails();">
</div>
@*kendo-grid
    k-options="vm.userGridOptions"
    k-data-source="vm.userDataSource"*@