@{
    Layout = null;
}

<div class="row">
    <ul class="breadcrumb">
        <li><a ui-sref=".">Administration</a></li>
        <li>Task List</li>
    </ul>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Workflow Detail</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label>Title: Review And Approve (single reviewer)</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label>Description: Review And Approve (single reviewer)</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label>Started By: Ahmar</label>
    </div>
    <div class="col-sm-4">
        <label>Due Date: 12-04-17</label>
    </div>
    <div class="col-sm-4">
        <label>Status: In Progress</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <label>Comment: Please approve</label>
    </div>
    <div class="col-sm-8">
        <label>Message: Please approve and review the document</label>
    </div>
</div>
<div kendo-list-view id="listView" k-data-source="vm.taskDatasource">
    <div k-template>
        <div style="border-bottom:1px solid">
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{dataItem.description}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">Title: {{dataItem.title}}</div>
                <div class="col-sm-6">Status: {{dataItem.properties.bpm_status}}</div>
            </div>
            <div class="row">
                <div class="col-sm-6">Owner: {{dataItem.owner.userName}}</div>
                <div class="col-sm-6">Created: {{dataItem.properties.cm_created}}</div>
            </div>
        </div>
    </div>
</div>
<div kendo-pager k-data-source="vm.taskDatasource"></div>